<launch>
    <node pkg="path_builder" type="path_builder.py" name="path_builder" respawn="true" output="screen">
        <param name="world_frame" value="ugr/map" />

        <remap from="/input/local_map" to="/ugr/car/map/slam/local"/>

        <remap from="/input/path" to="/pathplanning/poses"/>
        <remap from="/output/path" to="/pathplanning/global_path"/>
    </node>
</launch>