<launch>

  <node name="sim_keyboard_teleop" pkg="ugr_ros_control" type="keyboard_teleop" respawn="false"
    output="screen">
    <remap from="/input/joint_states" to="/sim/joint_states" />
    <remap from="/output/drive_effort" to="/sim/drive_effort_controller/command" />
    <remap from="/output/steering_position" to="/sim/steering_position_controller/command" />

  </node>

</launch>