<launch>

  <!-- Only put nodes here that are related to processing inside perception -->
  <!-- There should be NO hardware dependencies! -->

  <node pkg="tf" type="static_transform_publisher" name="ugr_lidar0"
    args="0.0 0 0.37 0 0 0 1 ugr/car_base_link ugr/car_base_link/lidar0 10" />
  <node pkg="tf" type="static_transform_publisher" name="ugr_ouster_sensor"
    args="0 0 0 0 0 0 1 ugr/car_base_link/lidar0 os_sensor 10" />
  <node pkg="tf" type="static_transform_publisher" name="ugr_ouster_imu"
    args="0 0 0 0 0 0 1 os_sensor os_imu 10" />
  <node pkg="tf" type="static_transform_publisher" name="ugr_ouster_lidar"
    args="0 0 0 0 0 -0.0087197 0.999962 os_sensor os_lidar 10" />
  <node pkg="tf" type="static_transform_publisher" name="ugr_cam0"
    args="0.06 0 0.74 0 0 -0.0120034 0.999928 ugr/car_base_link ugr/car_base_link/cam0 10" />

  <!-- Lidar -->
  <include file="$(find lidar)/launch/lidar.launch" pass_all_args="true" />

  <!-- Camera -->
  <include file="$(find camera)/launch/cone_detector.launch" pass_all_args="true"/>

</launch>