<launch>

  <arg name="world_frame" default="ugr_car_odom" />
  <arg name="base_link_frame" default="ugr/car_base_link" />
  <arg name="slam_world_frame" default="ugr/slam_map" />

  <arg name="particle_count" default="70" />
  <arg name="effective_particle_count" default="50" />
  <arg name="eps" default="0.5" />
  <arg name="max_range" default="15" />
  <arg name="max_half_angle" default="1.5" />
  <arg name="observe_dt" default="0.0" />

  <arg name="yaw_unwrap_threshold" default="4.0" />

  <node pkg="slam_mcl" output="screen" type="slam_mcl" name="slam_mcl" respawn="False">
    # Parameters
    <param name="world_frame" value="$(arg world_frame)" />
    <param name="base_link_frame" value="$(arg base_link_frame)" />
    <param name="slam_world_frame" value="$(arg slam_world_frame)" />

    <param name="particle_count" value="$(arg particle_count)" />
    <param name="effective_particle_count" value="$(arg effective_particle_count)" />
    <param name="eps" value="$(arg eps)" />
    <param name="max_range" value="$(arg max_range)" />
    <param name="max_half_angle" value="$(arg max_half_angle)" />
    <param name="observe_dt" value="$(arg observe_dt)" />

    <param name="yaw_unwrap_threshold" value="$(arg yaw_unwrap_threshold)" />

    <rosparam param="measurement_covariance">[0.3, 0.0, 0.0, 0.05]</rosparam>
    <rosparam param="input_noise">[0.2, 0.0, 0.0, 0.1]</rosparam>
    # Input/output remapping
    <remap from="/input/observations" to="ugr/car/observations/lidar" />
    <remap from="/input/map" to="ugr/car/map" />

    <remap from="/output/odom" to="/ugr/car/odometry/filtered/mcl" />
  </node>
</launch>