<launch>
    <arg name="world_frame" default="ugr/map" />
    <arg name="base_link_frame" default="ugr/car_base_link" />

    
    <node pkg="slam_lap_counter" output="screen" respawn="true" type="lap_counter.py" name="lap_counter">
        <param name="world_frame" value="$(arg world_frame)" />
        <param name="base_link_frame" value="$(arg base_link_frame)" />
        <remap from="/lap_counter/laps_complete" to="/ugr/car/lapComplete"/>
        <remap from="/lap_counter/finished" to="/ugr/car/finished"/>
        <param name="laps" value="10"/>
        <param name="distance_after" value="0"/>
        <param name="finishpoint" value="[0,0,0]"/>
    </node>
</launch>