<launch>

  <!-- 
    Launch file used for the GT map extraction procedure
    
    Args:
      frames: what static frames to use
      use_sim_time: if it should use simulation time (probably yes)
  -->

  <arg name="frames" default="pegasus_v2" />
  <arg name="use_sim_time" default="true" />

  <include file="$(find ugr_launch/launch/frames/$(arg frames).launch" />
  <include file="$(find ugr_launch/launch/internal/perception.launch"
    pass_all_args="true" />

  <include file="$(find ublox_gps)/launch/estimate_heading.launch" pass_all_args="true" />

  <include file="$(find slam_controller)/launch/ISE.launch" pass_all_args="true" />
  <include file="$(find slam_clustering)/launch/clustermapping.launch" pass_all_args="true" />

</launch>