# General
*.meta
*.asset
*.prefab
__pycache__/
.idea
.vscode
*venv/

# MacOS
.DS_Store

# ROS
.catkin_tools/
*.egg-info
core
*.log
*.stderr
*.bag
build/
devel/
logs/

# Python
*.whl

# FSDS
AirSim/

# Calibration
tools/camera_calibration/**/*.jpg
calib_images/

env-vars.sh
/data-error-correction
tuner_data/

# Mechatronics (Mac)
ROS/src/mechatronics/CATKIN_IGNORE

default_gen_track.yaml
ROS/src/perception/camera/video.mov
screenRecording.mov
