../autonomous2023_binaries/modules/neoapi-1.1.1-py38-none-any.whl

# General
empy
catkin_pkg
rospkg
cython
scipy
numpy
pybind11[global]

# Perception
torch==1.10.1+cu111 -f https://download.pytorch.org/whl/torch_stable.html
torchvision
seaborn
pytorch-lightning
tqdm
cython

# Jetson CAN
python-can==4.0.0

# Dev tools
black
isort
mypy
pytest
autoflake
mkdocs-material
