# General
empy
catkin_pkg
rospkg
pybind11[global]

# SLAM
utm
ubxtranslator

# Perception
# Minimum Numpy version of 1.20.0 for better typing support
# Maximum Numpy version of 1.23.X since in 1.24 they depricated np.bool which breaks TensorRT>:(
numpy>=1.20.0,<1.24.0
opencv-python-headless
torch>=0.10
torchvision>=0.11
scikit-image
ultralytics
onnx>=1.13.0
pytorch-lightning==1.9.4
torchmetrics>=0.7
timm>=0.6.11
scikit-learn>=1.2.2
tqdm
albumentations
matplotlib>=3.6.2
xmltodict
pydantic
wandb<=0.13.4
nvidia-tensorrt

# Control
casadi

# Jetson CAN
python-can==4.0.0
cantools==37.1.0

# Dev tools
black
isort
pynput
mypy
pytest
autoflake
mkdocs-material
pynput