<launch>

    <arg name="carname" default="car" />

    <!-- The local SLAM node -->
    <node pkg="locmap_slam" output="screen" type="local_fastslam.py" name="local_fastslam_$(arg carname)" respawn="True">
        # Parameters
        <param name="world_frame" value="ugr/$(arg carname)_odom" />
        <param name="base_link_frame" value="ugr/$(arg carname)_base_link" />

        <param name="fastslam/particle_count" value="200" />
        <rosparam param="fastslam/measurement_covariance">[0.05, 0.01, 0.01, 0.05]</rosparam>
        <rosparam param="fastslam/input_noise">[0.5, 0.1, 0.01, 0.1, 0.0, 0.1]</rosparam>
        <param name="fastslam/threshold_distance" value="2" />
        <param name="max_landmark_range" value="20" />
        <param name="observation_queue_size" value="1"/>

        # Input/output remapping
        <remap from="/input/observations" to="ugr/$(arg carname)/sensors/perception" />
        <remap from="/input/odometry" to="ugr/$(arg carname)/odometry/filtered/odom" />

        <remap from="/output/observations" to="ugr/$(arg carname)/observations/local" />
        <remap from="/output/map" to="ugr/$(arg carname)/map/local" />
        <remap from="/output/odom" to="ugr/$(arg carname)/odometry/slam/local"/>
        <remap from="/output/path" to="ugr/$(arg carname)/path/local"/>
        <remap from="/output/particles" to="ugr/$(arg carname)/slam/particles"/>
    </node>
</launch>