<launch>
    <!-- Camera node -->
    <arg name="type" default="camera"/>
    <include file="$(find camera)/launch/cone_detector.launch" pass_all_args="true"/>

    <!-- LiDAR node -->
    <include file="$(find lidar)/launch/lidar.launch" pass_all_args="true"/>

    <!-- visualisation for camera observations -->
    <node pkg="observation_vis" output="screen" type="vis_obs.py" name="camera_visualiser">
            <param name="namespace" value="perception/car/cam" />
            <param name="use_covariance" value="false" />
            <param name="use_cones" value="false" />
            <param name="scale" value="0.2"/>

            <remap from="/input/vis" to="/ugr/car/observations/camera" />
            <remap from="/output/vis" to="/vis/camera" />
    </node>

    <!-- visualisation for lidar observations -->
    <node pkg="observation_vis" output="screen" type="vis_obs.py" name="lidar_visualiser">
            <param name="namespace" value="perception/car/lidar" />
            <param name="use_covariance" value="false" />
            <param name="use_cones" value="false" />
            <param name="scale" value="0.2"/>

            <remap from="/input/vis" to="/ugr/car/observations/lidar" />
            <remap from="/output/vis" to="/vis/lidar" />
    </node>
</launch>
