<launch>

    <!-- visualisation for camera observations -->
    <node pkg="observation_vis" output="screen" type="vis_obs.py" name="camera_visualiser">
            <param name="namespace" value="perception/car/cam" />
            <param name="use_covariance" value="true" />
            <param name="use_cones" value="true" />
            <param name="scale" value="0.2"/>

            <remap from="/input/vis" to="/ugr/car/observations/camera" />
            <remap from="/output/vis" to="/vis/camera" />
    </node>

    <!-- visualisation for lidar observations -->
    <node pkg="observation_vis" output="screen" type="vis_obs.py" name="lidar_visualiser">
            <param name="namespace" value="perception/car/lidar" />
            <param name="use_covariance" value="true" />
            <param name="use_cones" value="true" />
            <param name="scale" value="0.2"/>

            <remap from="/input/vis" to="/ugr/car/observations/lidar" />
            <remap from="/output/vis" to="/vis/lidar" />
    </node>

    <!-- 
    visualisation for late fusion observations
    <node pkg="observation_vis" output="screen" type="vis_obs.py" name="late_fusion_visualiser">
            <param name="namespace" value="perception/car/late_fusion" />
            <param name="use_covariance" value="true" />
            <param name="use_cones" value="true" />
            <param name="scale" value="0.2"/>

            <remap from="/input/vis" to="/ugr/car/observations/fused" />
            <remap from="/output/vis" to="/vis/late_fusion" />
    </node>
    
    visualisation for early fusion observations 
    <node pkg="observation_vis" output="screen" type="vis_obs.py" name="early_fusion_visualiser">
            <param name="namespace" value="perception/car/early_fusion" />
            <param name="use_covariance" value="true" />
            <param name="use_cones" value="true" />
            <param name="scale" value="0.2"/>

            <remap from="/input/vis" to="/ugr/car/observations/early_fused" />
            <remap from="/output/vis" to="/vis/early_fusion" />
    </node> -->
</launch>
