<launch>
    <arg name="world_frame" default="ugr/car_odom" />
    <arg name="base_link_frame" default="ugr/car_base_link" />

    <include file="$(find slam_simulator)/launch/slam_simulator.launch" pass_all_args="true" ns="foo" >
        <arg name="filename" value="circle_R15.yaml"/>
    </include>
    <include file="$(find slam_mcl)/launch/mcl.launch" pass_all_args="true">
        <arg name="map_prefix" value="gt"/>
    </include>
    <node pkg="slam_loopclosure" output="screen" respawn="true" type="loopclosure" name="loopclosure">
        <param name="world_frame" value="$(arg world_frame)" />
        <param name="base_link_frame" value="$(arg base_link_frame)" />
        <rosparam param="finishpoint">[0,30,0]</rosparam>
        
        <remap from="/output/loopClosure" to="/ugr/car/loopclosure"/>
        <remap from="/reset_closure" to="/ugr/srv/reset_loopclosure"/>
        <remap from="/adjust_finish" to="/ugr/srv/adjust_finish"/>
    </node>
</launch>