<launch>
    <!-- ! Sensor capture files -->


    <!-- ? Perception -->
    <include file="$(env HOME)/autonomous2023/ROS/src/perception/launch/perception.launch">
        <arg name="type" value="camera"/>
    </include>
    <include file="$(find ublox_gps)/launch/gps.launch"/>

    <!-- ? Lidar -->

    <!-- <include file="$(find ouster_ros)/launch/sensor.launch">
    </include> -->

    <!-- ? CAN -->
    <include file="$(find can_node)/launch/can_node.launch">
    </include>
</launch>