<launch>
     <!-- ? Ony need CAN from capture.launch -->
    <include file="$(find can_node)/launch/can_converter.launch">
    </include>

    <include file="/home/ugentracing/autonomous2023/ROS/launch/process.launch" pass_all_args="true"/>
    <include file="/home/ugentracing/autonomous2023/ROS/launch/control.launch" pass_all_args="true"/>
</launch>