<launch>
  <arg name="car" default="simulation"/>
  <arg name="mission" default=""/>

  <param name="mission" value="$(arg mission)"/>

  <param name="use_sim_time" value="true"/>

  <arg name="enable_sensors" value="false" />
  <arg name="enable_can" value="true" />
  <arg name="enable_drive" value="false" />

  <include file="$(find autonomous_state)/../../../launch/internal/perception.launch" pass_all_args="true"/>
  <include file="$(find autonomous_state)/../../../launch/internal/slam.launch" pass_all_args="true"/>
  <include file="$(find autonomous_state)/../../../launch/internal/general.launch" pass_all_args="true"/>
  <include file="$(find autonomous_state)/../../../launch/internal/control.launch" pass_all_args="true"/>

  <include file="$(find autonomous_state)/../../../launch/external/pegasus.launch" pass_all_args="true"/>
</launch>