<launch>
  <param name="use_sim_time" value="true"/>

  <include file="$(find autonomous_state)/../../../launch/frames/pegasus_v2.launch" />

  <include file="$(find autonomous_state)/../../../launch/internal/perception.launch" pass_all_args="true"/>
  <include file="$(find slam_controller)/launch/ISE.launch" pass_all_args="true" />
  <include file="$(find ublox_gps)/launch/gps.launch" pass_all_args="true" />
</launch>
