<launch>
    <!-- ! Processing nodes -->
    <arg name="iteration" default="1" />
    <arg name="slamtype" default="fastslam" />
    <arg name="reference_frame" default="ugr/car_odom" />
    <arg name="use_sim_time" default="false" />
    <arg name="pathplanning_type" default="triangulation" />

    <param name="use_sim_time" value="$(arg use_sim_time)" />
    <param name="iteration" value="$(arg iteration)" />


    <!-- ? Lidar -->
    <include file="$(find lidar)/launch/lidar.launch" pass_all_args="true"></include>

    <!-- ? SLAM -->
    <include file="$(find slam_controller)/launch/controller.launch" pass_all_args="true"></include>

    <!-- ? Pathplanning  -->
    <include file="$(find pathplanning)/launch/pathplanning.launch" pass_all_args="true"></include>
</launch>