<launch>

  <node pkg="tf" type="static_transform_publisher" name="ugr_lidar0"
    args="0.0 0 0.37 0 0 0 1 ugr/car_base_link ugr/car_base_link/lidar0 10" />
  <node pkg="tf" type="static_transform_publisher" name="ugr_ouster_sensor"
    args="0 0 0 0 0 0 1 ugr/car_base_link/lidar0 os_sensor 10" />
  <node pkg="tf" type="static_transform_publisher" name="ugr_ouster_imu"
    args="0 0 0 0 0 0 1 os_sensor os_imu 10" />
  <node pkg="tf" type="static_transform_publisher" name="ugr_ouster_lidar"
    args="0 0 0 0 0 -0.0087197 0.999962 os_sensor os_lidar 10" />
  <node pkg="tf" type="static_transform_publisher" name="ugr_cam0"
    args="0.06 0 0.74 0 0 -0.0218149 0.999762 ugr/car_base_link ugr/car_base_link/cam0 10" />

  <node pkg="tf" type="static_transform_publisher" name="ugr_imu0"
    args="-0.26 0 0.35 1 0 0 0 ugr/car_base_link ugr/car_base_link/imu0 10" />
  <node pkg="tf" type="static_transform_publisher" name="ugr_imu1"
    args="-0.26 0 0.37 1 0 0 0 ugr/car_base_link ugr/car_base_link/imu1 10" />

  <node pkg="tf" type="static_transform_publisher" name="ugr_axis0"
    args="-0.36 0.34 0 0 0 0 1 ugr/car_base_link ugr/car_base_link/axis0 10" />
  <node pkg="tf" type="static_transform_publisher" name="ugr_axis1"
    args="-0.36 -0.34 0 0 0 0 1 ugr/car_base_link ugr/car_base_link/axis1 10" />

  <node pkg="tf" type="static_transform_publisher" name="ugr_gps_ublox_right"
    args="0.06 -0.36 0.74 0 0 0 1 ugr/car_base_link ugr/car_base_link/gps0 10" />
  <node pkg="tf" type="static_transform_publisher" name="ugr_gps_ublox_left"
    args="0.06 0.36 0.74 0 0 0 1 ugr/car_base_link ugr/car_base_link/gps1 10" />

</launch>