<launch>
    <node pkg="pure_pursuit" type="run.py" name="pure_pursuit" output="screen" respawn="true">

        <param name="publish_rate" value="10" />
        <param name="speed/target" value="1.0" />

        <param name="trajectory/minimal_distance" value="1.8" />
        <param name="trajectory/t_step" value="0.05" />
        <param name="trajectory/max_angle" value="3" />


        <param name="base_link_frame" value="ugr/car_base_link" />
        <param name="world_frame" value="$(arg reference_frame)" />

        <remap from="/input/path" to="/pathplanning/path" />
        <remap from="/output/control_command" to="/control/control_command" />
        <remap from="/output/target_point" to="/control/target_point" />
    </node>
</launch>