<launch>
    <node pkg="can_node" type="can_converter.py" name="can_converter" output="screen">
        <param name="interface" value="can0" />
        <param name="baudrate" value="1000000" />
        <param name="odrive_dbc" value="$(find can_node)/odrive.dbc" />

        <remap from="/output/can" to="/can_messages" />
        <remap from="/output/vel/left" to="/mechatronics/wheel_encoder/left" />
        <remap from="/output/vel/right" to="/mechatronics/wheel_encoder/right" />
    </node>
</launch>