<launch>
    <env name="BINARY_LOCATION" value="$(env HOME)/autonomous2023_binaries"/>
    <node pkg="perception_jetson" type="run.py" name="perception_jetson" output="screen">
        <param name="cuda" value="True" />
        <param name="tensorrt" value="True"/>
        <param name="detection_height_threshold" value="30" />
        <param name="rate" value="10" />
    </node>
</launch>