<launch>
  <!-- ? Coordinate transformations -->

  <arg name="iteration" default="1" />
  
  <node pkg="slam_controller" type="frame_changer.py" name="odom_odometry_in_map_frame">

    <param name="frame_id" value="ugr/map" />

    <remap from="input/odom" to="/ugr/car/odometry/filtered/odom" />
    <remap from="output/odom" to="/ugr/car/odometry/filtered/odom/inmap" />
  </node>

  <!-- ? State Estimation -->

  <node pkg="robot_localization" type="ekf_localization_node"
    name="ekf_localization_node_odom_car_$(arg iteration)" respawn="true">

    <!-- Fusing continous (drifting) data, so world_frame must be odom -->
    <param name="world_frame" value="ugr/car_odom" />
    <param name="map_frame" value="ugr/map" />
    <param name="odom_frame" value="ugr/car_odom" />
    <param name="base_link_frame" value="ugr/car_base_link" />
    <param name="frequency" value="60" />
    <param name="sensor_timeout" value="0.05" />

    <param name="two_d_mode" value="true" />
    <param name="reset_on_time_jump" value="true" />

    <!-- Angular rate -->
    <param name="imu0" value="/ugr/car/sensors/imu0/angular_rate" />
    <rosparam param="imu0_config">[false, false, false,
      false, false, false,
      false, false, false,
      false, false, true,
      false, false, false]</rosparam>
    <param name="imu0_differential" value="false" />
    <param name="imu0_relative" value="true" />

    <param name="imu1" value="/ugr/car/sensors/imu1/angular_rate" />
    <rosparam param="imu1_config">[false, false, false,
      false, false, false,
      false, false, false,
      false, false, true,
      false, false, false]</rosparam>
    <param name="imu1_differential" value="false" />
    <param name="imu1_relative" value="true" />

    <param name="imu2" value="/ugr/car/sensors/imu2" />
    <rosparam param="imu2_config">[false, false, false,
      false, false, false,
      false, false, false,
      false, false, true,
      false, false, false]</rosparam>
    <param name="imu2_differential" value="false" />
    <param name="imu2_relative" value="true" />

    <!-- Angular heading -->
    <param name="imu3" value="/ugr/car/sensors/vectornav/imu" />
    <rosparam param="imu3_config">[false, false, false,
      false, false, true,
      false, false, false,
      false, false, true,
      false, false, false]</rosparam>
    <param name="imu3_differential" value="false" />
    <param name="imu3_relative" value="true" />

    <!-- Wheel encoders -->
    <param name="twist0" value="ugr/car/sensors/encoder0" />
    <rosparam param="twist0_config">
      [false, false, false,
      false, false, false,
      true, false, false,
      false, false, false,
      false, false, false]</rosparam>
    <param name="twist1" value="ugr/car/sensors/encoder1" />
    <rosparam param="twist1_config">
      [false, false, false,
      false, false, false,
      true, false, false,
      false, false, false,
      false, false, false]</rosparam>

    <!-- Remap the output -->
    <remap from="odometry/filtered" to="ugr/car/odometry/filtered/odom" />

  </node>

  <node pkg="robot_localization" type="ekf_localization_node"
    name="ekf_localization_node_map_car_$(arg iteration)" respawn="true">

    <!-- Fusing continous (drifting) data, so world_frame must be odom -->
    <param name="world_frame" value="ugr/map" />
    <param name="map_frame" value="ugr/map" />
    <param name="odom_frame" value="ugr/car_odom" />
    <param name="base_link_frame" value="ugr/car_base_link" />
    <param name="frequency" value="60" />
    <param name="sensor_timeout" value="0.05" />

    <param name="two_d_mode" value="true" />
    <param name="reset_on_time_jump" value="true" />

    <!-- Angular rate -->
    <param name="imu0" value="/ugr/car/sensors/imu0/angular_rate" />
    <rosparam param="imu0_config">[false, false, false,
      false, false, false,
      false, false, false,
      false, false, true,
      false, false, false]</rosparam>
    <param name="imu0_differential" value="false" />
    <param name="imu0_relative" value="true" />

    <param name="imu1" value="/ugr/car/sensors/imu1/angular_rate" />
    <rosparam param="imu1_config">[false, false, false,
      false, false, false,
      false, false, false,
      false, false, true,
      false, false, false]</rosparam>
    <param name="imu1_differential" value="false" />
    <param name="imu1_relative" value="true" />

    <param name="imu2" value="/ugr/car/sensors/imu2" />
    <rosparam param="imu2_config">[false, false, false,
      false, false, false,
      false, false, false,
      false, false, true,
      false, false, false]</rosparam>
    <param name="imu2_differential" value="false" />
    <param name="imu2_relative" value="true" />

    <!-- Angular heading -->
    <param name="imu3" value="/ugr/car/sensors/vectornav/imu" />
    <rosparam param="imu3_config">[false, false, false,
      false, false, true,
      false, false, false,
      false, false, true,
      false, false, false]</rosparam>
    <param name="imu3_differential" value="false" />
    <param name="imu3_relative" value="true" />

    <param name="twist0" value="ugr/car/sensors/encoder0" />
    <rosparam param="twist0_config">
      [false, false, false,
      false, false, false,
      true, false, false,
      false, false, false,
      false, false, false]</rosparam>
    <param name="twist1" value="ugr/car/sensors/encoder1" />
    <rosparam param="twist1_config">
      [false, false, false,
      false, false, false,
      true, false, false,
      false, false, false,
      false, false, false]</rosparam>

    <param name="odom0"
      value="ugr/car/odometry/filtered/fastslam" />
    <param name="odom0_differential" value="false" />
    <rosparam param="odom0_config">
      [true, true, false,
      false, false, true,
      false, false, false,
      false, false, false,
      false, false, false]</rosparam>
    <param name="odom1" value="ugr/car/odometry/filtered/mcl" />
    <param name="odom1_differential" value="false" />
    <rosparam param="odom1_config">
      [true, true, false,
      false, false, true,
      false, false, false,
      false, false, false,
      false, false, false]</rosparam>

    <!-- Remap the output -->
    <remap from="odometry/filtered" to="ugr/car/odometry/filtered/map" />

  </node>

  <!-- Transform the GPS NavSatFix into the local frame as Odometry. For both GPSs-->
  <node pkg="robot_localization" type="navsat_transform_node"
    name="navsat_transform_node_gps1"
    respawn="true">

    <param name="magnetic_declination_radians" value="0.032" />
    <param name="yaw_offset" value="0" />
    <param name="zero_altitude" value="true" />
    <param name="frequency" value="20" />

    <param name="publish_filtered_gps" value="true" />

    <remap from="odometry/filtered" to="ugr/car/odometry/filtered/odom" />
    <remap from="imu/data" to="/ugr/car/sensors/heading" />
    <remap from="gps/fix" to="/ugr/car/sensors/gps1/pvt/fix" />

    <remap from="gps/filtered" to="ugr/car/odometry/filtered/odom/asnavsatfix1" />
    <remap from="odometry/gps" to="ugr/car/sensors/gps1/transformed" />
  </node>

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node_gps0"
    respawn="true">

    <param name="magnetic_declination_radians" value="0.032" />
    <param name="yaw_offset" value="0" />
    <param name="zero_altitude" value="true" />
    <param name="frequency" value="20" />

    <param name="publish_filtered_gps" value="true" />

    <remap from="odometry/filtered" to="ugr/car/odometry/filtered/odom" />
    <remap from="imu/data" to="/ugr/car/sensors/heading" />
    <remap from="gps/fix" to="/ugr/car/sensors/gps0/pvt/fix" />

    <remap from="gps/filtered" to="ugr/car/odometry/filtered/odom/asnavsatfix0" />
    <remap from="odometry/gps" to="ugr/car/sensors/gps0/transformed" />
  </node>


  <!-- Fuses the GPS odometry of the fixed base with heading -->
  <node pkg="robot_localization" type="ekf_localization_node"
    name="ekf_localization_node_gps_$(arg iteration)" output="screen" respawn="true">

    <param name="world_frame" value="ugr/map" />
    <param name="map_frame" value="ugr/gps" />
    <param name="odom_frame" value="ugr/map" />
    <param name="base_link_frame" value="ugr/car_base_link" />
    <param name="base_link_frame_output" value="ugr/gt_base_link" />
    <param name="frequency" value="60" />
    <param name="permit_corrected_publication" value="true" />
    <param name="sensor_timeout" value="0.05" />

    <param name="two_d_mode" value="true" />
    <param name="reset_on_time_jump" value="true" />
    <param name="debug" value="true" />
    <param name="print_diagnostics" value="true" />

    <param name="odom0" value="ugr/car/sensors/gps1/transformed" />
    <param name="odom0_differential" value="false" />
    <param name="odom0_relative" value="true" />

    <rosparam param="odom0_config">
      [true, true, false,
      false, false, false,
      false, false, false,
      false, false, false,
      false, false, false]</rosparam>

    <param name="imu0" value="/ugr/car/sensors/imu0/angular_rate" />
    <rosparam param="imu0_config">[false, false, false,
      false, false, false,
      false, false, false,
      false, false, true,
      false, false, false]</rosparam>
    <param name="imu0_differential" value="false" />
    <param name="imu0_relative" value="true" />

    <param name="imu1" value="/ugr/car/sensors/imu1/angular_rate" />
    <rosparam param="imu1_config">[false, false, false,
      false, false, false,
      false, false, false,
      false, false, true,
      false, false, false]</rosparam>
    <param name="imu1_differential" value="false" />
    <param name="imu1_relative" value="true" />

    <param name="imu2" value="/ugr/car/sensors/imu2" />
    <rosparam param="imu2_config">[false, false, false,
      false, false, false,
      false, false, false,
      false, false, true,
      false, false, false]</rosparam>
    <param name="imu2_differential" value="false" />
    <param name="imu2_relative" value="true" />

    <param name="imu3" value="/ugr/car/sensors/vectornav/imu" />
    <rosparam param="imu3_config">[false, false, false,
      false, false, true,
      false, false, false,
      false, false, true,
      false, false, false]</rosparam>
    <param name="imu3_differential" value="false" />
    <param name="imu3_relative" value="true" />

    <param name="twist0" value="ugr/car/sensors/encoder0" />
    <rosparam param="twist0_config">
      [false, false, false,
      false, false, false,
      true, false, false,
      false, false, false,
      false, false, false]</rosparam>
    <param name="twist1" value="ugr/car/sensors/encoder1" />
    <rosparam param="twist1_config">
      [false, false, false,
      false, false, false,
      true, false, false,
      false, false, false,
      false, false, false]</rosparam>


    <remap from="odometry/filtered" to="ugr/car/odometry/filtered/gps" />

  </node>

</launch>
