<launch>
  
  <!-- ? FastSLAM -->
  <include file="$(find slam_mcl)/launch/mcl.launch" pass_all_args="true">
    <arg name="map_prefix" value="global"/>
  </include>

  <node name="map_publisher" pkg="slam_simulator" output="screen" type="map_publisher.py">
    <param name="map" value="$(find slam_simulator)/maps/skidpad.yaml" />

    <remap from="/output/map" to="/ugr/car/map/global" />
  </node>
</launch>