<?xml version="1.0"?>
<launch>
	<arg name="frame_id" default="ugr/car_base_link"/>

	<node pkg="vectornav" type="vnpub" name="vectornav" output="screen" >
	  <param name="frame_id" value="$(arg frame_id)"/>
      <rosparam command="load" file="$(find vectornav)/params/vn300.yaml" />

			<remap from="vectornav/IMU" to="/ugr/car/sensors/vectornav/imu"/>
			<remap from="vectornav/Mag" to="/ugr/car/sensors/vectornav/mag"/>
			<remap from="vectornav/GPS" to="/ugr/car/sensors/vectornav/gps"/>
			<remap from="vectornav/Odom" to="/ugr/car/sensors/vectornav/odometry"/>
			<remap from="vectornav/Temp" to="/ugr/car/sensors/vectornav/temperature"/>
			<remap from="vectornav/Pres" to="/ugr/car/sensors/vectornav/pressure"/>
			<remap from="vectornav/INS" to="/ugr/car/sensors/vectornav/ins"/>
	</node>	
	
</launch>
