<launch>
    <arg name="rate" default="100" />
    <arg name="max_time_deviation" default="0.02" />
    <arg name="base_link_frame" default="ugr/car_base_link" />

    <node pkg="ublox_gps" type="estimate_heading.py" name="estimate_heading" output="screen">
        <param name="rate" value="$(arg rate)" />
        <param name="max_time_deviation" value="$(arg max_time_deviation)" />
        <param name="base_link_frame" value="$(arg base_link_frame)" />

        # gps0 should be right, gps1 should be left
        <remap from="/input/gps1" to="/ugr/car/sensors/gps/ublox/left"/>
        <remap from="/input/gps0" to="/ugr/car/sensors/gps/ublox/right"/>
        <remap from="/input/gps1/vel" to="/ugr/car/sensors/gps/ublox/left/vel"/>
        <remap from="/input/gps0/vel" to="/ugr/car/sensors/gps/ublox/right/vel"/>

        <remap from="/output/heading" to="/ugr/car/sensors/heading2"/>
        <remap from="/output/yaw" to="/ugr/car/sensors/heading2/yaw"/>
    </node>
</launch>
