<launch>
   <arg name="map" default="circle_R15" />  <!--zonder .yaml-->
   <arg name="mission" default="trackdrive" />

   <arg name="max_time" default="150" /> <!--max time simulation can run in seconds -->
   <arg name="number_of_simulations" default="2" />

   <!-- Tuner options -->
   <arg name="tuner_mode" default="none" />
   
  <node name="parameter_tuner" pkg="parameter_tuner" type="main.py" output="screen">
    <param name="map" value="$(arg map)" />
    <param name="mission" value="$(arg mission)" />

    <param name="max_time" value="$(arg max_time)" />
    <param name="number_of_simulations" value="$(arg number_of_simulations)" />
    
    <param name="yaml_file_path" value="$(find slam_fastslam)/config/fastslam1.yaml" />
    <param name="parameter" value="measurement_covariance" />
    <param name="index" value="0" />

    <param name="logging" value="False" />

    <!-- Tuner options -->
    <param name="tuner_mode" value="$(arg tuner_mode)"/>

    <!-- Sum tuner -->
    <param name="sum_add_value" value="0.1"/>

    <!-- List tuner-->
    <rosparam param="list">[900,950,1000]</rosparam>
  </node>

</launch>