<launch>
   <arg name="map" default="circle_R15" />
   <arg name="mission" default="trackdrive" />
   
  <node name="parameter_tuner" pkg="parameter_tuner" type="tuner.py" output="screen">
    <param name="map" value="$(arg map)" />
    <param name="mission" value="$(arg mission)" />
  </node>

</launch>