<launch>
   <arg name="map" default="circle_R15" />  <!--zonder .yaml-->
   <arg name="mission" default="trackdrive" />
   <arg name="max_time" default="500" /> <!--max time simulation can run in seconds -->
   
  <node name="parameter_tuner" pkg="parameter_tuner" type="tuner.py" output="screen">
    <param name="map" value="$(arg map)" />
    <param name="mission" value="$(arg mission)" />

    <param name="max_time" value="$(arg max_time)" />

    <param name="logging" value="False" />
  </node>

</launch>