<launch>

  <node pkg="inspection" name="inspection" type="inspection.py" output="screen">
    <param name="rate" value="20"/> <!-- Hz -->
    <param name="velocity" value="3.5"/> <!-- m/s -->
    <param name="steering_speed" value="0.05"/>
    <param name="duration" value="26"/> <!-- s -->

    <remap from="/output/steering" to="/ugr/car/steering_position_controller/command" />
    <remap from="/output/velocity" to="/ugr/car/drive_velocity_controller/command" />
    <remap from="/output/lapComplete" to="/ugr/car/lapComplete"/>
  </node>
</launch>
