<launch>

    <arg name="layout" default= "" />

  <node name="visualiser_mincurv" pkg="minimum_curvature" type="visualiser.py" output="screen" >

    <param name="frame" value="ugr/car_base_link" />
    <param name="layout" value="$(arg layout)" />

    <remap from="/output/local_map" to="/ugr/car/map/fastslam/local" />
    <remap from="/output/gt_path" to="/minimum_curvature/gt_path" />
    <remap from="/output/gt_boundaries" to="/minimum_curvature/gt_boundaries" />

    <remap from="/input/path" to="/pathplanning/path" />
    <remap from="/input/path_extra" to="/minimum_curvature/path_extra" />
    <remap from="/input/path_iqp" to="/minimum_curvature/path_iqp" />
    <remap from="/input/path_ref" to="/minimum_curvature/path_ref" />
  
  </node>

</launch>