<launch>

    <arg name="layout" default= "" />

  <node name="visualiser_mincurv" pkg="minimum_curvature" type="visualiser.py" output="screen" >

    <param name="frame" value="ugr/car_base_link" />
    <param name="layout" value="$(arg layout)" />

    <remap from="/output/local_map" to="/ugr/car/map/fastslam/local" />

    <remap from="/output/path" to="/minimum_curvature/path" />
  
  </node>

</launch>