<launch>

  <!-- 
    This launch file runs the external parts of the simulation. 
    It requires a filename for the map to use 
  -->

  <arg name="gt_map_topic" default="ugr/car/map/gt" />
  <arg name="filename" />
  <arg name="turn_active" default="false" />

  <!-- Perception simulator -->

  <node name="perception_simulator" pkg="slam_simulator" output="screen" type="perception.py">

    <param name="world_frame" value="ugr/map" />
    <param name="base_link_frame" value="ugr/car_base_link" />
    <param name="gt_base_link_frame" value="ugr/gt_base_link" />
    <param name="viewing_distance" value="15" />
    <param name="fov" value="90" />
    <param name="add_noise" value="true" />
    <param name="cone_noise" value="0.02" />
    <param name="color_prob" value="0.0" /> <!-- between 0 and 1-->

    <remap from="/output/observations" to="/ugr/car/observations/lidar" />
    <remap from="/input/track" to="$(arg gt_map_topic)" />
  </node>

  <!-- GT map publisher-->

  <node name="gt_map_publisher" pkg="slam_simulator" output="screen" type="map_publisher.py">
    <param name="map" value="$(find slam_simulator)/maps/$(arg filename)" />

    <remap from="/output/map" to="$(arg gt_map_topic)" />
  </node>

</launch>