<launch>
    <node pkg="pathplanning" type="pathplanning" name="pathplanning" respawn="true" output="screen">
        <param name="output_frame" value="ugr/car_base_link" />
        <param name="algorithm" value="tri" />
        <param name="max_iter" value="1000" />
        <param name="triangulation_max_var" value="4" />
        <param name="triangulation_var_threshold" value="1.2" />
        <param name="max_angle_change" value="1.5" />
        <param name="max_path_distance" value="10" />
        <param name="safety_dist" value="0.3" />

        <param name="range_front" value="100" />
        <param name="range_sides" value="100" />
        <param name="range_behind" value="100" />
        
        <remap from="/input/local_map" to="/ugr/car/map/fastslam/local"/>
        <remap from="/output/path" to="/pathplanning/poses"/>

        <param name="debug_visualisation" value="true" />
        <param name="vis_namespace" value="pathplanning_vis" />
        <param name="vis_lifetime" value="0.1" />

        <remap from="/output/debug/markers" to="/pathplanning/debug/markers"/>
        <remap from="/output/debug/poses" to="/pathplanning/debug/poses"/>
        <remap from="/output/debug/all_poses" to="/pathplanning/debug/all_poses"/>
    </node>

    <node pkg="pathplanning" type="smooth_path.py" name="path_smoother" respawn="true" output="screen">
        <param name="max_distance_away_from_start" value="9" />
        <param name="min_distance_away_from_start" value="16" />

        <remap from="/input/path" to="/pathplanning/poses"/>
        <remap from="/output/path" to="/pathplanning/path"/>
    </node>

</launch>