<launch>

  <!-- Only put nodes here that are related to processing inside control -->
  <!-- There should be NO hardware dependencies! -->

  <!-- Pure Pursuit -->
  <include file="$(find kinematic_path_tracking)/launch/pure_pursuit.launch" pass_all_args="true">
  </include>

  <!-- Front wheel feedback -->
  <include file="$(find kinematic_path_tracking)/launch/front_wheel_feedback.launch" pass_all_args="true">
  </include>
  
  <!-- MPC -->
  <include file="$(find mpc)/launch/mpc_tracking.launch" pass_all_args="true">
  </include>

  <!-- MPC splines -->
  <include file="$(find mpc_gen)/launch/mpc_splines.launch" pass_all_args="true">
  </include>

  <!-- Path_publisher -->
  <include file="$(find path_publisher)/launch/path_publisher.launch" pass_all_args="true" />

    <!-- Path Smoother -->
  <include file="$(find path_smoother)/launch/path_smoother.launch" pass_all_args="true" />

  <!-- Pathplanning -->
  <include file="$(find pathplanning)/launch/pathplanning.launch" pass_all_args="true" />

  <!-- Boundary Estimation -->
  <include file="$(find boundary_estimation)/launch/boundary_estimation.launch" pass_all_args="true" />

  <!-- Minimum Curvature -->
  <include file="$(find minimum_curvature)/launch/minimum_curvature.launch" pass_all_args="true" />

</launch>