<launch>

  <!-- Only put nodes here that are related to processing in general -->
  <!-- There should be NO hardware dependencies! -->

  <!-- Autonomous State  -->
  <group if="$(eval env('UGR_CAR') == 'pegasus')">
    <include file="$(find autonomous_state)/launch/autonomous_state.launch" pass_all_args="true"></include>
  </group>

  <!-- Orion State  -->
  <group if="$(eval env('UGR_CAR') == 'orion')">
    <include file="$(find autonomous_state)/launch/orion_state_selector.launch" pass_all_args="true"></include>
    <include file="$(find autonomous_state)/launch/autonomous_state.launch" pass_all_args="true"></include>
    <include file="$(find autonomous_state)/launch/manual_state.launch" pass_all_args="true"></include>
  </group>

</launch>