<launch>

  <!-- Only put nodes here that are related to processing inside perception -->
  <!-- There should be NO hardware dependencies! -->

  <!-- Lidar -->
  <include file="$(find lidar)/launch/lidar.launch" pass_all_args="true" />

  <!-- Camera -->
  <include file="$(find camera)/launch/cone_detector.launch" pass_all_args="true"/>

  <!-- Fusion -->
  <include file="$(find fusion)/launch/merge.launch" pass_all_args="true"/>
</launch>
