<launch>

  <arg name="frames" default="pegasus_v2"/>

  <arg name="car" default="pegasus"/>
  <arg name="mission" default=""/>
  <arg name="use_sim_time" default="false"/>
  <arg name="use_rosbag" default="false"/>

  <!-- Populating the parameter server to use globally -->
  <param name="mission" value="$(arg mission)"/>
  <param name="car" value="$(env UGR_CAR)"/>
  <param name="use_sim_time" value="$(arg use_sim_time)"/>


  <!-- Run on a rosbag -->
  <group if="$(arg use_rosbag)">
    <include file="$(find ugr_launch)/launch/frames/$(arg frames).launch" pass_all_args="true" />

    <node pkg="tf" type="static_transform_publisher" name="ugr_axis0" args="-0.36 0.34 0 0 0 0 1 ugr/car_base_link ugr/car_base_link/axis0 10" />
    <node pkg="tf" type="static_transform_publisher" name="ugr_axis1" args="-0.36 -0.34 0 0 0 0 1 ugr/car_base_link ugr/car_base_link/axis1 10" />

    <!-- rosbag filter 2024-04-09-18-56-42.bag trackdrive.bag "'/ugr/car/sensor' in topic and '/ugr/car/sensors/cam0' not in topic or '/ugr/car/observations' in topic" -->
  </group>

  <!-- Launch files of subteams -->
  <include file="$(find ugr_launch)/launch/internal/perception.launch" pass_all_args="true"/>
  <include file="$(find ugr_launch)/launch/internal/general.launch" pass_all_args="true"/>
  <include file="$(find ugr_launch)/launch/internal/slam.launch" pass_all_args="true"/>
  <include file="$(find ugr_launch)/launch/internal/control.launch" pass_all_args="true"/>

  <!-- Load extra car specific parameters or override parameters -->
  <rosparam command="load" file="$(find ugr_launch)/config/$(env UGR_CAR).yaml" />

</launch>