<launch>

  <!-- Only put nodes here that are related to processing inside SLAM -->
  <!-- There should be NO hardware dependencies! -->

  <!-- ? Map Publisher -->
  <node name="map_publisher" pkg="slam_controller" output="screen" type="map_publisher.py">
    <remap from="/output/map" to="/ugr/car/map/global" />
  </node>

  <!-- ? FastSLAM -->
  <include file="$(find slam_fastslam)/launch/fastslam1.launch" pass_all_args="true" />

  <!-- ? GraphSLAM -->
  <include file="$(find slam_graphslam)/launch/graphslam.launch" pass_all_args="true" />

  <!-- ? SLAM MCL -->
  <include file="$(find slam_mcl)/launch/mcl.launch" pass_all_args="true">
    <arg name="path_to_map" value="/ugr/car/map/global"/>
  </include>

  <!-- ? ISE -->
  <include file="$(find slam_controller)/launch/ISE.launch" pass_all_args="true"/>

  
  
  <include file="$(find slam_lap_counter)/launch/lap_counter.launch" pass_all_args="true"/>

  
</launch>