<launch>

  <!-- Only put nodes here that are related to processing inside SLAM -->
  <!-- There should be NO hardware dependencies! -->

  <!-- ? Map Publisher -->
  <node name="map_publisher" pkg="slam_controller" output="screen" type="map_publisher.py">
    <remap from="/output/map" to="/ugr/car/map/global" />
  </node>

  <!-- ? FastSLAM -->
  <include file="$(find slam_fastslam)/launch/fastslam1.launch" pass_all_args="true" />

  <!-- ? GraphSLAM -->
  <include file="$(find slam_graphslam)/launch/graphslam.launch" pass_all_args="true" />

  <!-- ? SLAM MCL -->
  <include file="$(find slam_mcl)/launch/mcl.launch" pass_all_args="true">
    <arg name="path_to_map" value="/ugr/car/map/global"/>
  </include>

  <!-- ? ISE -->
  <include file="$(find slam_controller)/launch/ISE.launch" pass_all_args="true"/>

  <!-- SLAM lap_counter -->
  <node pkg="slam_lap_counter" output="screen" respawn="true" type="lap_counter" name="lap_counter">
      <param name="world_frame" value="ugr/map" />
      <param name="base_link_frame" value="ugr/car_base_link" />
      <rosparam param="finishpoint">[0,0,0]</rosparam>
      
      <remap from="/output/lapComplete" to="/ugr/car/lapComplete"/>
      <remap from="/reset_closure" to="/ugr/srv/reset_lap_counter"/>
      <remap from="/adjust_finish" to="/ugr/srv/adjust_finish"/>
  </node>

</launch>