<?xml version="1.0"?>
<launch>

  <!-- GDB functionality -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <group ns="ugr/car">


    <!-- Load hardware interface -->
    <node name="sim_hardware_interface" pkg="ugr_ros_control" type="sim_hw_main"
      output="screen" launch-prefix="$(arg launch_prefix)">

      <remap from="/output/gt_odometry" to="/ugr/car/odometry/filtered/gt"/>
      <remap from="/output/imu0" to="/ugr/car/sensors/lidar/imu" />
      <remap from="/output/encoder0" to="/ugr/car/sensors/encoder0" />



      <!-- Torque vectoring -->
      <param name="use_torque_vectoring" value="false" />
      <param name="max_dT" value="4.0" />
      <param name="l_wheelbase" value="2" />
      <param name="COG" value="0.5" />
      <param name="Cyf" value="444" />
      <param name="Cyr" value="444" />
      <param name="m" value="320" />
      
      <!-- PID Torque vectoring -->
      <param name="Kp" value="1.0" />
      <param name="Ki" value="0.0" />
      <param name="Kd" value="0.0" />

    </node>

    <!-- Load controller settings -->
    <rosparam file="$(find ugr_ros_control)/sim_control/config/sim_controllers.yaml" command="load" />

    <node name="ros_control_controller_manager" pkg="controller_manager" type="spawner"
            respawn="false"
            output="screen"
            args="--stopped joint_state_controller drive_effort_controller drive_velocity_controller steering_velocity_controller steering_position_controller" />



  </group>

</launch>