<launch>
    <node pkg="lidar" type="lidar" name="lidar" output="screen">
        <!-- ground removal -->
        <param name="ground_removal_method" value="bins"/>
        <param name="num_iter" value="3"/>
        <param name="num_lpr" value="250"/>
        <param name="th_seeds" value="0.15"/>
        <param name="th_dist" value="0.05"/>
        <param name="sensor_height" value="0.3"/>

        <param name= "th_floor" value = "0.06"/>
        <param name= "angular_buckets" value = "15"/>
        <param name= "small_radial_bucket_length" value = "0.5"/>
        <param name= "big_radial_bucket_length" value = "5"/>
        <param name= "radial_bucket_tipping_point" value = "8"/>
        <param name= "use_slope" value = "true"/>

        <!-- Clustering -->
        <param name= "clustering_method" value="string" />
        <param name= "cluster_tolerance" value="1" />
        <param name= "point_count_threshold" value="2"/>
        <param name= "min_distance_factor" value="2.5"/>
        <param name= "minimal_points_cone" value = "5"/>
        <param name= "threshold_height_big_cone" value ="0.4"/>
        <param name= "minimal_height_cone" value = "0.07"/>
        <param name= "maximal_delta_arc_cluster" value = "0.3" />

        <!-- segmentation -->
        <param name= "cone_shape_factor" value = "0.25"/>
        <param name= "cone_height_width_factor" value = "0.5"/>
        <param name= "cone_reconstruction_treshold" value= "0.10"/>

        <!-- noisy environment -->
        <param name= "noisy_environment" value = "true"/>
        <param name= "min_distance_factor_noisy_environment" value="1.5"/>
        <param name= "max_bucket_height" value = "0.35"/>
        <param name= "min_points_per_bucket" value = "8"/>
        <param name= "max_points_per_bucket" value = "200"/>

        <!-- orange cone functionality -->
        <param name= "use_orange_cones" value="false"/>

        <!-- white cone functionality -->
        <param name= "use_white_cones" value="false"/>
        <param name= "threshold_white_cone" value="7"/>

        <!-- parameters for color belief curve -->
        <param name="first_tipping_distance" value="10"/>
        <param name="second_tipping_distance" value="12"/>
        <param name="zero_value_distance" value="21"/>
        <param name="value_start" value="1"/>
        <param name="value_first_tipping_distance" value="0.9"/>
        <param name="value_second_tipping_distance" value="0.3"/>

        <!-- publishing debug pointclouds -->
        <param name= "publish_preprocessing" value = "false"/>
        <param name= "publish_ground" value = "false"/>
        <param name= "publish_clusters" value = "false"/>
        <param name= "color_factor" value = "1"/>
 
        <remap from="lidar/perception/observations/" to="ugr/car/observations/lidar"/>

        <remap from="lidar/perception/preprocessed_pc" to="ugr/vis/lidar/preprocessed_pc"/>
        <remap from="lidar/perception/groundremoval_pc" to="ugr/vis/lidar/groundremoval_pc"/>
        <remap from="lidar/perception/clustered_pc" to="ugr/vis/lidar/clustered_pc"/>
        <remap from="lidar/perception/cones_lidar" to="ugr/vis/lidar/cones"/>
        <remap from="lidar/perception/clusters_colored" to="ugr/vis/lidar/clusters"/>
        <remap from="lidar/perception/ground_colored" to="ugr/vis/lidar/coloredground"/>
    </node>
</launch>
