<launch>
    <include file="$(find slam_graphslam)/launch/keyboard.launch" pass_all_args="true" />

    <!-- <include file="$(find slam_fastslam)/launch/fastslam1.launch" pass_all_args="true" /> -->
  
    <include file="$(find slam_graphslam)/launch/graphslam.launch" pass_all_args="true" />

    <!-- ? ISE -->
    <include file="$(find slam_controller)/launch/ISE.launch" pass_all_args="true"/>
</launch>

