<launch>
    <arg name="mission" value="trackdrive"/>
    <arg name="filename" value="chicane.yaml"/>

    <include file="$(find ugr_launch)/launch/external/simulation.launch" pass_all_args="true" />

    <include file="$(find ugr_launch)/launch/internal/run.launch" pass_all_args="true" />
  
</launch>

