<launch>
  <node name="ethercat_cia402" pkg="ethercat_cia402" type="ethercat_cia402" output="log"
    launch-prefix='sudo env "LD_LIBRARY_PATH=/opt/ros/noetic/lib"'>
    <!--! Parameters -->
    <!-- Interface to which servo is connected -->
    <param name="ifname" value="enp6s0"/>
    <!-- Mode of operatiton -->
    <param name="mode" value="1"/> <!-- 0: CSP, 1: CSV, 2: CST, 3: PP -->
    <!-- Interval to update values -->
    <param name="update_period" value="0.5"/>

    <!--! Inputs -->
    <remap from="/input/target" to="/ugr/car/servo/target"/>

    <!--! Outputs -->
    <remap from="/output/ecat_state" to="/ugr/car/servo/ecat_state"/>
    <remap from="/output/position" to="/ugr/car/servo/position"/>
    <remap from="/output/statusword" to="/ugr/car/servo/statusword"/>
    <remap from="/output/velocity" to="/ugr/car/servo/velocity"/>
    <remap from="/output/torque" to="/ugr/car/servo/torque"/>
    <remap from="/output/erroract" to="/ugr/car/servo/erroract"/>
    <remap from="/output/driver_equivalent_torque" to="/ugr/car/servo/driver_equivalent_torque"/>
    <remap from="/output/power" to="/ugr/car/servo/power"/>

  </node>
</launch>