<launch>

  <!-- Frames -->
  <param name="robot_description"
    command="$(find xacro)/xacro '$(find orion_description)/urdf/orion.urdf'" />

  <group ns="ugr/car">
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="publisher">
      <param name="use_tf_static" value="false" />
    </node>
  </group>
</launch>