<launch>

  <!-- Frames -->
  <param name="robot_description"
    command="$(find xacro)/xacro '$(find orion_description)/urdf/orion.urdf'" />

  <group ns="ugr/car">
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="publisher">
      <param name="use_tf_static" value="false" />
    </node>
  </group>

  <!-- CAN -->
  <include file="$(find can)/launch/can.launch" />

  <!-- IO drivers -->
  <include file="$(find iologik)/launch/iologik" />
  <!-- <include file="$(find dio_driver)/launch/dio_driver"/> -->

  <!-- Vectornav -->
  <!-- <include file="$(find vectornav)/launch/vectornav.launch"/> -->

  <!-- Lidar -->
  <!-- <include file="$(find ouster_ros)/launch/sensor.launch">
      <arg name="timestamp_mode" default="TIME_FROM_PTP_1588" />
    </include> -->

  <!-- Camera -->
  <!-- <include file="$(find camera)/launch/publisher.launch" pass_all_args="true">
      <arg name="type" default="camera" />
    </include> -->

  <!-- GPS -->
  <!-- <include file="$(find ublox_gps)/launch/gps.launch" pass_all_args="true" /> -->


  <!-- <include file="$(find ugr_ros_control)/orion_control/launch/orion_hardware.launch" /> -->
</launch>