<launch>
  
  <!-- ? Pathplanning -->
  <include file="$(find pathplanning)/launch/pathplanning.launch" pass_all_args="true" />

  <!-- Control node (generates output commands) -->
  <include file="$(find pure_pursuit)/launch/pure_pursuit.launch" pass_all_args="true">
    <arg name="reference_frame" default="ugr/map" />
  </include>

</launch>