<launch>
  
  <node name="path_publisher" pkg="control_controller" output="screen" type="path_publisher.py">
  <param name="path" value="$(find control_controller)/paths/skidpad_small.yaml" />

    <remap from="/output/path" to="/pathplanning/path" />
  </node>

  <!-- Control node (generates output commands) -->
  <include file="$(find pure_pursuit)/launch/pure_pursuit.launch" pass_all_args="true">
    <arg name="reference_frame" default="ugr/car_odom" />
  </include>

</launch>