<launch>

  <!-- ? Pathplanning -->
  <include file="$(find pathplanning)/launch/pathplanning.launch" pass_all_args="true">
    <arg name="map" default="/ugr/car/map/fastslam/local" />
  </include>

  <!-- Control node (generates output commands) -->
  <include file="$(find mpc)/launch/mpc.launch" pass_all_args="true">
    <arg name="reference_frame" default="ugr/map" />
    <arg name="change_index" default="True" />
    <arg name="minimal_distance" value="1.2" />
  </include>

</launch>