<launch>
    <env name="BINARY_LOCATION" value="$(env HOME)/autonomous2023_binaries"/>
    <arg name="type" default="dummy"/>

    <node pkg="camera" type="run.py" name="perception_camera" output="screen">
        <param name="cuda" value="True" />
        <param name="tensorrt" value="True"/>
        <param name="detection_height_threshold" value="30" />
        <param name="is_rgb" value="True" />
        <param name="rate" value="10" />
        <param name="vis" value="False" />
        <remap from="/output/cone_keypoints" to="/ugr/car/perception/camera/keypoints" />
        <remap from="/output/image_annotated" to="/ugr/car/perception/camera/image_annotated" />
        <remap from="/output/update" to="/ugr/car/observations/camera" />
        <remap from="/input/image" to="/ugr/car/sensors/cam0" />
    </node>

    <include file="$(find camera)/launch/perception.camera.publisher.launch">
        <arg name="type" value="camera" />
    </include>
</launch>
