<launch>
    <env name="BINARY_LOCATION" value="$(env HOME)/autonomous2023_binaries"/>

    <node pkg="camera" type="run.py" name="perception_camera" output="screen">
        <param name="cuda" value="True" />
        <param name="tensorrt" value="False"/>
        <param name="detection_height_threshold" value="30" />
        <param name="rate" value="10" />
        <param name="vis" value="True" />
        <remap from="/output/cone_keypoints" to="/ugr/car/perception/camera/keypoints" />
        <remap from="/output/image_annotated" to="/ugr/car/perception/camera/image_annotated" />
        <remap from="/output/update" to="/ugr/car/observations/camera" />
        <remap from="/input/image" to="/ugr/car/sensors/cam0" />
    </node>

    <include file="$(find camera)/launch/perception.camera.publisher.launch" pass_all_args="true"/>


    <node pkg="locmap_vis" output="screen" type="vis_obs.py" name="camera_visualiser">
            <param name="namespace" value="perception/car" />
            <param name="use_covariance" value="true" />
            <param name="use_cones" value="false" />

            <remap from="/input/vis" to="/ugr/car/observations/camera" />
            <remap from="/output/vis" to="/vis/perception" />
    </node>

</launch>
