<launch>
    <env name="BINARY_LOCATION" value="$(env HOME)/autonomous2023_binaries"/>

    <node pkg="camera" type="run.py" name="perception_camera" output="screen">
        <param name="cuda" value="True" />
        <param name="tensorrt" value="False"/>
        <param name="detection_height_threshold" value="30" />
        <param name="rate" value="10" />
        <remap from="/output/cone_keypoints" to="/perception/camera/mono/keypoints" />
        <remap from="/output/update" to="/ugr/car/observations/camera" />
        <remap from="/input/image" to="/perception/camera/image" />


    </node>

    <include file="$(find camera)/launch/perception.camera.publisher.launch" pass_all_args="true"/>

    

</launch>
