<launch>
    <env name="BINARY_LOCATION" value="$(env HOME)/autonomous2023_binaries"/>
    <!-- Set the default publisher to camera -->
    <arg name="type" default="camera"/>

    <group ns="dummy0" if="$(eval arg('type') =='dummy')">
        <node pkg="camera" type="dummy.py" name="dummy_publisher" output="screen">
            <param name="rate" value="50"/>
            <remap from="/input/image" to="/ugr/car/sensors/cam0" />
        </node>

    </group>

    <group ns="cam" if='$(eval arg("type") =="camera")'>
        <node pkg="camera" type="cameracpp" name="camera_publisher" output="screen">
            <param name="rate" value="50"/>
            <remap from="/input/image" to="/ugr/car/sensors/cam0/image" />
            <remap from="/input/info" to="/ugr/car/sensors/cam0/camera_info" />
            <param name="use_raw" value="false"/>
            <param name="cam_rotated" value="true"/>
        </node>
    </group>
</launch>
