<launch>
  <!-- Fusion -->
  <node pkg="fusion" output="screen" type="merge.py" name="topic_merger" respawn="False">
    <param name="base_link_frame" value="ugr/car_base_link" />
    <param name="world_frame" value="ugr/car_odom" />
    <param name="fusion_method" value="naive" />
    <param name="fusion_eucl_distance" value="2.5" />
    <param name="sensor_time_diff_ms" value="50" />
    <remap from="/input/lidar_observations" to="/ugr/car/observations/lidar"/>
    <remap from="/input/camera_observations" to="/ugr/car/observations/camera"/>
    <remap from="/output/topic" to="/ugr/car/observations/fused"/>
  </node>
</launch>