<launch>
  <node pkg="dio_driver" output="screen" type="run_driver.py" name="dio_driver" launch-prefix="sudo">

    <!-- Bank (1/2) -->
    <param name="bank" type="int" value="1"/>

    <!-- Inputs -->
    <param name="enable_DI0" type="int" value="true" />
    <param name="enable_DI1" type="int" value="true" />
    <param name="enable_DI2" type="int" value="true" />
    <param name="enable_DI3" type="int" value="true" />
    <param name="enable_DI4" type="int" value="true" />
    <param name="enable_DI5" type="int" value="true" />
    <param name="enable_DI6" type="int" value="true" />
    <param name="enable_DI7" type="int" value="true" />

    <!-- Outputs -->
    <param name="enable_DO0" type="int" value="true" />
    <param name="enable_DO1" type="int" value="true" />
    <param name="enable_DO2" type="int" value="true" />
    <param name="enable_DO3" type="int" value="true" />
    <param name="enable_DO4" type="int" value="true" />
    <param name="enable_DO5" type="int" value="true" />
    <param name="enable_DO6" type="int" value="true" />
    <param name="enable_DO7" type="int" value="true" />
  </node>
</launch>